@model List<FoodSaleDataModel>
@{
    Layout = LayoutService.GetLayout();
}

<section>
    <div class="container">
        <h5 class="testimonial__subtitle mb-4">Cart</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string img = $"assets/img/food/{item.FoodId}.jpg";
                        <tr>
                            <td class="text-center cart__img-box">
                                <img
                                    src="@img"
                                    alt="">
                            </td>
                            <td class="text-center">@item.FoodName</td>
                            <td class="text-center">$@item.FoodPrice</td>
                            <td class="text-center">@item.Qty</td>
                            <td class="text-center cart__item-del">
                                <i onclick="deleteItemFromCard(@item.FoodId)"
                                   class="ri-delete-bin-line">
                                </i>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="mt-4">
                    <h6>Subtotal: $<span class="cart__subtotal">@(Model.Sum((x => x.FoodPrice * x.Qty)))</span></h6>
                    @* <p>Taxes and shipping will calculate at checkout</p> *@
                    <div class="cart__page-btn">
                        <a class="addTOCart__btn btn me-4" href="/Food/Index#Foods">
                            Continue Shopping
                            @* <NavLink *@
                            @*     href=""> *@
                            @*     Continue *@
                            @*     Shopping *@
                            @* </NavLink> *@
                        </a>
                        @if (Model.Count > 0)
                        {
                            <a href="/Food/Checkout" class="btn addTOCart__btn">
                                <NavLink
                                    href="checkout">
                                    Proceed
                                    to checkout
                                </NavLink>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>